@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "aladin"; /*Can be any text*/
  src: local("./fonts/aladin.ttf"),
  url("../fonts/aladin.ttf") format("truetype");

}
@font-face {
  font-family: "bangers";
  /*Can be any text*/
  src: local("./fonts/bangers.ttf"),
  url("../fonts/bangers.ttf") format("truetype");

}
@font-face {
  font-family: "big"; /*Can be any text*/
  src: local("./fonts/big.ttf"),
  url("../fonts/big.ttf") format("truetype");

}
@font-face {
  font-family: "praise"; /*Can be any text*/
  src: local("./fonts/praise.ttf"),
  url("../fonts/praise.ttf") format("truetype");

}
@font-face {
  font-family: "Light"; /*Can be any text*/
  src: local("../fonts/aladin.ttf"),
  url("../fonts/aladin.ttf") format("truetype");

}
@font-face {
  font-family: "Light"; /*Can be any text*/
  src: local("../fonts/aladin.ttf"),
  url("../fonts/aladin.ttf") format("truetype");

}

*,
html,
body {
  font-size: 5px;
  @apply dark:bg-blue-900;
  @apply bg-blue-50;
  @apply dark:text-indigo-100;
  font-family: bangers,"cursive",
  "sans-serif";
}
.aladin {
  font-family: Light,"cursive",
  "sans-serif";
}
.bangers {
  font-family: bangers,"cursive",
  "sans-serif";
}
.big {
  font-family: big,"cursive",
  "sans-serif";
}
.praise {
  font-family: praise,"cursive",
  "sans-serif";
}
.aladin {
  font-family: Light,"cursive",
  "sans-serif";
}

/*
.glass {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .1), -4px -4px 10px rgba(0, 0, 0, .1);
  background: rgba(255, 255, 255,0.1);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(30px);
}
.input {
  background-color: rgba(255, 255, 255, .1);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}*/
@media screen and (min-width:400px) {
  *,
  html,
  body {
    font-size: 8px;
  }
}